app/node_modules
.vscode
.idea
config.yaml
config.dev.yaml
storage

addition/generation/data/*
!addition/generation/data/.gitkeep

addition/article/data/*
!addition/article/data/.gitkeep
sdk
logs

chat
*.exe
chat.exe

# for reverse engine
reverse
access.json
access/*.json

db
redis
config

# for opencommit
.env