@import "ui";
@font-family: Andika,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
@font-family-normal: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
@line-height: 1.5;
@font-weight: 400;

@color-scheme: light dark;

@font-synthesis: none;
@text-rendering: optimizeLegibility;
@-webkit-font-smoothing: antialiased;
@-moz-osx-font-smoothing: grayscale;
@-webkit-text-size-adjust: 100%;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
}

:root {
  font-family: @font-family;
  line-height: @line-height;
  font-weight: @font-weight;

  color-scheme: @color-scheme;

  font-synthesis: @font-synthesis;
  text-rendering: @text-rendering;
  -webkit-font-smoothing: @-webkit-font-smoothing;
  -moz-osx-font-smoothing: @-moz-osx-font-smoothing;
  -webkit-text-size-adjust: @-webkit-text-size-adjust;
  --font-family: @font-family;
  --font-family-normal: @font-family-normal;
}

* {
  outline: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.grow {
  flex-grow: 1;
}

strong {
  font-weight: bold;
}

.hover\:bg-accent[aria-pressed="false"] {
  color: hsl(var(--text-secondary));

  &:hover {
    color: hsl(var(--text-secondary));
    background: hsl(var(--accent-secondary));
  }
}

.hover\:bg-accent[aria-pressed="true"] {
  background: hsl(var(--accent));
  color: hsl(var(--text));
  border: 1px solid hsl(var(--border));
}

.icon-tooltip {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-dialog {
  border-radius: var(--radius) !important;
  max-height: calc(100vh - 2rem) !important;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-y;
  outline: 0;

  @media (max-width: 520px) {
    & {
      margin-top: 1rem;
      margin-bottom: 1rem;
      transform: translate(var(--tw-translate-x), calc(var(--tw-translate-y) - 1rem)) !important;
    }
  }
}

.cent {
  font-weight: normal !important;
}
