.select-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 6px 8px;
  border-radius: 4px;
  user-select: none;
  justify-content: center;

  &.mobile {
    text-align: center;

    & span {
      margin: 0 auto;
    }
  }

  .select-group-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.35rem 0.8rem;
    margin: 0.25rem;
    border: 1px solid hsl(var(--border));
    border-radius: 4px;
    transition: .2s;
    cursor: pointer;
    font-size: 16px;
    background: hsl(var(--background));
    color: hsl(var(--text));

    &:hover {
      background: hsl(var(--accent-secondary));
    }

    &.active {
      border-color: hsl(var(--border-hover));
      background: hsl(var(--accent));
    }
  }
}

.select-element.badge {
  user-select: none;
  transition: .2s;
  padding-left: 0.45rem;
  padding-right: 0.45rem;

  &.badge-default {
    background: hsl(var(--primary)) !important;

    &:hover {
      background: hsl(var(--primary)) !important;
    }
  }

  &.badge-gold {
    color: rgb(164, 128, 0) !important;
    background: rgb(255, 231, 145) !important;
  }
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
}

.thin-scrollbar {
  scrollbar-width: thin;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 6px;
  }
}

input[type="number"] {
  -webkit-appearance: textfield;
  margin: 0;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  &::after {
    content: '>';
    position: absolute;
    right: 5px;
    top: 2px;
    transform: rotate(-45deg);
  }

  &::before {
    content: '<';
    position: absolute;
    right: 5px;
    top: 20px;
    transform: rotate(135deg);
  }
}

.selection {
  ::selection {
    color: hsl(var(--selection-foreground));
    background: hsl(var(--selection));
  }

  ::-moz-selection {
    color: hsl(var(--selection-foreground));
    background: hsl(var(--selection));
  }
}
