@import "highlight.less";
@import "style.less";
@import "theme.less";

.file-instance {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2px 0;
  padding: 6px 12px;
  border: 1px solid hsl(var(--border-hover));
  background: hsl(var(--background-container));
  border-radius: var(--radius);

  &:before {
    content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1maWxlIj48cGF0aCBkPSJNMTQuNSAySDZhMiAyIDAgMCAwLTIgMnYxNmEyIDIgMCAwIDAgMiAyaDEyYTIgMiAwIDAgMCAyLTJWNy41TDE0LjUgMnoiLz48cG9seWxpbmUgcG9pbnRzPSIxNCAyIDE0IDggMjAgOCIvPjwvc3ZnPg==");
    display: block;
    width: 24px;
    height: 20px;
    scale: 0.6;
    color: hsl(var(--text));
  }

  &:after {
    content: attr(file);
    display: block;
    color: hsl(var(--text));
  }
}

.dark .file-instance:before {
  filter: invert(1);
}
