.main {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 56px);
  overflow: hidden;
  background: hsl(var(--background-container));
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 0;
  height: 100%;
  padding: 0;
  margin: 0;
  background: var(--background-sidebar);
  transition: 0.2s ease-in-out;
  transition-property: width, background, box-shadow;
  border-right: 0;

  &.open {
    width: 260px;
    border-right: 1px solid hsl(var(--border));
  }

  .login-action {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    width: max-content;

    svg {
      transform: translateY(1px);
    }
  }

  @media (max-width: 768px) {
    &.open {
      width: max(30vw, 180px);
    }
  }

  @media (max-width: 468px) {
    // sidebar collapsed
    &.open {
      width: 100% !important;
    }
    &.open ~ .chat-container {
      width: 0;
    }
  }
}

.chat-container {
  flex-grow: 1;
  height: 100%;
  background: hsl(var(--background-container));
  transition: width 0.2s ease-in-out;

  .chat-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 12px;
  }

  .tooltip {
    user-select: none;

    strong {
      font-weight: 600 !important;
    }
  }

  .chat-content {
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
    padding: 6px;
  }

  .chat-input {
    height: max-content;
    width: 100%;
    overflow: hidden;
    padding: 6px 24px;

    .input-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      width: 100%;
      gap: 4px;
      height: min-content;

      .input-box {
        text-align: center;
        color: hsl(var(--text));
      }

      .input-box::placeholder {
        color: hsl(var(--text-secondary));
      }

      .send-button {
        padding: 0 6px;
      }

      .send-button svg {
        fill: hsl(var(--text));
      }
    }

    .input-options {
      width: max-content;
      margin: 16px auto 2px;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      gap: 4px;
      height: min-content;
    }
  }
}
