.navbar {
  display: flex;
  flex-direction: row;
  align-content: center;
  vertical-align: center;
  user-select: none;
  height: 56px;
  padding: 6px 12px;
  background: hsl(var(--background));
  border-bottom: 1px solid hsl(var(--border));

  .items {
    width: max(98%, 400px);
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    vertical-align: center;
    gap: 10px;
  }

  .logo {
    margin: 2px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}

.avatar {
  outline: 0;
  user-select: none;

  img {
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: var(--radius);
    cursor: pointer;
  }
}

div[data-radix-popper-content-wrapper=""] {
  user-select: none;

  div.relative {
    cursor: pointer;
  }

  .action-button {
    width: 100%;
    cursor: pointer;
    margin-top: 6px;
    margin-bottom: 2px;
    height: max-content !important;
  }
}
