.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 44px;
    background: var(--background-nav);
    padding: 4px 12px;
    gap: 4px;
    user-select: none;
}

.navbar .chatnio {
    cursor: pointer;
    margin: 6px;
    width: 32px;
    height: 32px;
}
